main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    background-color: #d0e9e3; 
}

.botones {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.pin-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    margin: 0 auto;
}

.separador {
    width: 2px;
    height: 100px;
    background-color: #004d40;
    margin: 0 20px;
}

button {
    background-color: #00695c;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    font-family: 'Black Ops One', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}